.searchBox {
    align-items: flex-end;
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    @media screen and (min-width: $sm) {
        width: 75%;
    }
    @media screen and (min-width: $lg) {
        width: 60%;
    }
    .selectBox {
        width: 30%;
    }
    .tableSearchInput {
        width: 70%;
    }
}

.roster {
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.2);
    color: black;

    .tableContainer {
        padding: 1rem;
    }

    .toggleButton {
        width: 36.8%;       // 803pxに対して296px
        margin-bottom: 1.5rem;
    }
}