// フォントのインポート
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// 色
$mainColor: #541EC8;
$grayColor: #E1E1E2;
$afcColor: #E85F5F;
$nfcColor: #4C62D9;
$whiteColor: #FFF;
$inactiveColor: rgb(194, 197, 199);
$labelColor: rgba(118, 117, 118);
$dataColor: rgb(74, 73, 74);

// フォント
$loraFont: 'Lora', serif;
$notoFont: 'Noto Serif', serif;

// ブレイクポイント
$xs: 414px;
$sm: 767px;
$md: 950px;
$lg: 1200px;