html {
    font-size: 10px;
    font-family: $notoFont;

    body {
        background-color: $mainColor;
    }

    img {
        width: 100%;
        height: 100%;
    }

    p, span, li {
        font-size: 1.6rem;
    }

    li {
        list-style: none;
        cursor: pointer;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .baseTable {
        .baseTableHeader {
            background-color: black;
            .cell {
                color: #fff;
                font-weight: bold;
                font-family: $notoFont;
            }
        }
        .baseTableBody {
            .cell {
                padding: 8px;
            }
        }
        th, td {
            font-size: 1.4rem !important;
        }
        .avatar {
            margin: 0 auto;
        }
    }
    
    .rowExpanded {
        background-color: $dataColor;
        td {
            padding: 0;
        }
    }

    .fx {
        display: flex;

        &.fx-right {
            justify-content: right;
        }
        &.fx-left {
            justify-content: left;
        }
        &.align-center {
            align-items: center;
        }
        &.justify-center {
            justify-content: center;
        }
        &.center {
            align-items: center;
            justify-content: center;
        }
        &.between {
            justify-content: space-between;
        }
    }

    // レスポンシブ
    .xs {
        @media screen and (max-width: $xs) {
            display: none;
        }
    }
    .sm {
        @media screen and (max-width: $sm) {
            display: none;
        }
    }
    .md {
        @media screen and (min-width: $md) {
            display: none;
        }
    }
    .lg {
        @media screen and (min-width: $lg) {
            display: none;
        }
    }
}

/******************************************************************
* Material UI オーバーライド
*******************************************************************/
// TeamTabsコンポーネント
.teamTabComponent {
    // &.MuiTab-root {
    //     min-width: 65px !important;
    //     width: 65px;
    //     padding: 5px;
    // }
}